<body class="yozora">
<h1>backnumber</h1>
<%= link_to "新規投稿へ", new_zoom_path %>
<%= link_to "失恋", "/zooms/situren" %>
<%= link_to "男性", "/zooms/men" %>
<%= link_to "女性", "/zooms/women" %>
<div class="tweets-container">
  <% @zooms.each do |t| %>
    <div class="tweet">
    <iframe width="400" height="300" src="https://www.youtube.com/embed/<%= find_youtube_url(t.youtube_url) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
      <%= t.title %>
    <br>
      <%= t.about %>
    <br>
    <div class="bbb">
      <%= link_to "詳細へ", zoom_path(t.id) %>
      <%= link_to "編集する", edit_zoom_path(t.id) %>
      <%= button_to "削除する", zoom_path(t.id), method: :delete %>
    </div> 
      </div>
  <% end %>
</div>
</body>